form {
    background-color: rgb(14, 64, 72);
    color:  chartreuse;
    margin: auto 0;
    font-size: 18px;
    padding: auto;
    background-image: ;
}
body{
    background-color: rgba(0, 0, 55, 0.512);}

